tqdm
torchvggish
regex
ebooklib
fastapi
hf_xet
beautifulsoup4
pymupdf
pymupdf-layout
pytesseract
mutagen
PyOpenGL
phonemizer-fork
pydub
unidecode
langdetect
phonemizer
stanza==1.10.1
pyannote-audio==3.4.0
argostranslate==1.10.0
streamlit>=1.35.0
torch==2.7.1
torchaudio==2.7.1
transformers==4.57.6
coqui-tts[languages]==0.27.5
ext/py/num2words
ext/py/demucs
uvicorn
iso639-lang
Pillow
Markdown
psutil